.tile {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: blue;
  border-radius: 15px;
  border-style: none;
  opacity: 0.5;
  outline: none;
}

#board{
  position: absolute;
  left: 35%;
  top: 15%
}

body{
  background-color: #404041;
}