.tile {
    width: 5%;
    height: 5%;
    position: absolute;
    background-color: blue;
    border-radius: 25%;
    border-style: none;
    opacity: 0.5;
    outline: none;
}

#board {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    top: 10vh;
    width: 60vw;
    height: 60vw;
}

body {
    background-color: #404041;
}

h1 {
    position: relative;
    color: darkgrey;
    text-align: center;
    font-family: sans-serif;
    top: 8vw;
}
